{
  "presets": [["es2015", {"modules": false}], "stage-2", "env"],
  "plugins": ["transform-runtime", "transform-object-rest-spread", "transform-class-properties", "transform-async-to-generator"],
  "comments": false
}
