.icon.flag {
  display: inline-block;
  background: url('./cflags.png') no-repeat;
  width: 24px;
  height: 16px;
  margin: 5px;
  border: 1px solid #CCC;
  vertical-align: middle;

  &.flag-AFN {
    background-position: 0px 0px;
  }

  &.flag-ALL {
    background-position: -22px 0px;
  }

  &.flag-ANG {
    background-position: -44px 0px;
  }

  &.flag-ARS {
    background-position: -66px 0px;
  }

  &.flag-AUD {
    background-position: -88px 0px;
  }

  &.flag-AWG {
    background-position: -110px 0px;
  }

  &.flag-AZN {
    background-position: -132px 0px;
  }

  &.flag-BAM {
    background-position: -154px 0px;
  }

  &.flag-BBD {
    background-position: -176px 0px;
  }

  &.flag-BGN {
    background-position: -198px 0px;
  }

  &.flag-BND {
    background-position: 0px -14px;
  }

  &.flag-BOB {
    background-position: -22px -14px;
  }

  &.flag-BRL {
    background-position: -44px -14px;
  }

  &.flag-BSD {
    background-position: -66px -14px;
  }

  &.flag-BWP {
    background-position: -88px -14px;
  }

  &.flag-BYR {
    background-position: -110px -14px;
  }

  &.flag-BZD {
    background-position: -132px -14px;
  }

  &.flag-CAD {
    background-position: -154px -14px;
  }

  &.flag-CHF {
    background-position: -176px -14px;
  }

  &.flag-CLP {
    background-position: -198px -14px;
  }

  &.flag-CNY {
    background-position: 0px -28px;
  }

  &.flag-COP {
    background-position: -22px -28px;
  }

  &.flag-CRC {
    background-position: -44px -28px;
  }

  &.flag-CZK {
    background-position: -66px -28px;
  }

  &.flag-DKK {
    background-position: -88px -28px;
  }

  &.flag-DOP {
    background-position: -110px -28px;
  }

  &.flag-EGP {
    background-position: -132px -28px;
  }

  &.flag-EUR {
    background-position: -154px -28px;
  }

  &.flag-FJD {
    background-position: -176px -28px;
  }

  &.flag-FKP {
    background-position: -198px -28px;
  }

  &.flag-GBP {
    background-position: 0px -42px;
  }

  &.flag-GIP {
    background-position: -22px -42px;
  }

  &.flag-GTQ {
    background-position: -44px -42px;
  }

  &.flag-GYD {
    background-position: -66px -42px;
  }

  &.flag-HKD {
    background-position: -88px -42px;
  }

  &.flag-HNL {
    background-position: -110px -42px;
  }

  &.flag-HRK {
    background-position: -132px -42px;
  }

  &.flag-HUF {
    background-position: -154px -42px;
  }

  &.flag-IDR {
    background-position: -176px -42px;
  }

  &.flag-ILS {
    background-position: -198px -42px;
  }

  &.flag-INR {
    background-position: 0px -56px;
  }

  &.flag-IRR {
    background-position: -22px -56px;
  }

  &.flag-ISK {
    background-position: -44px -56px;
  }

  &.flag-JMD {
    background-position: -66px -56px;
  }

  &.flag-JPY {
    background-position: -88px -56px;
  }

  &.flag-KGS {
    background-position: -110px -56px;
  }

  &.flag-KHR {
    background-position: -132px -56px;
  }

  &.flag-KPW {
    background-position: -154px -56px;
  }

  &.flag-KRW {
    background-position: -176px -56px;
  }

  &.flag-KYD {
    background-position: -198px -56px;
  }

  &.flag-KZT {
    background-position: 0px -70px;
  }

  &.flag-LAK {
    background-position: -22px -70px;
  }

  &.flag-LBP {
    background-position: -44px -70px;
  }

  &.flag-LKR {
    background-position: -66px -70px;
  }

  &.flag-LRD {
    background-position: -88px -70px;
  }

  &.flag-LVL {
    background-position: -110px -70px;
  }

  &.flag-MKD {
    background-position: -132px -70px;
  }

  &.flag-MNT {
    background-position: -154px -70px;
  }

  &.flag-MUR {
    background-position: -176px -70px;
  }

  &.flag-MXN {
    background-position: -198px -70px;
  }

  &.flag-MYR {
    background-position: 0px -84px;
  }

  &.flag-NAD {
    background-position: -22px -84px;
  }

  &.flag-NGN {
    background-position: -44px -84px;
  }

  &.flag-NIO {
    background-position: -66px -84px;
  }

  &.flag-NOK {
    background-position: -88px -84px;
  }

  &.flag-NPR {
    background-position: -110px -84px;
  }

  &.flag-NZD {
    background-position: -132px -84px;
  }

  &.flag-OMR {
    background-position: -154px -84px;
  }

  &.flag-PAB {
    background-position: -176px -84px;
  }

  &.flag-PEN {
    background-position: -198px -84px;
  }

  &.flag-PHP {
    background-position: 0px -98px;
  }

  &.flag-PKR {
    background-position: -22px -98px;
  }

  &.flag-PLN {
    background-position: -44px -98px;
  }

  &.flag-PYG {
    background-position: -66px -98px;
  }

  &.flag-QAR {
    background-position: -88px -98px;
  }

  &.flag-RON {
    background-position: -110px -98px;
  }

  &.flag-RSD {
    background-position: -132px -98px;
  }

  &.flag-RUB {
    background-position: -154px -98px;
  }

  &.flag-SAR {
    background-position: -176px -98px;
  }

  &.flag-SBD {
    background-position: -198px -98px;
  }

  &.flag-SCR {
    background-position: 0px -112px;
  }

  &.flag-SEK {
    background-position: -22px -112px;
  }

  &.flag-SGD {
    background-position: -44px -112px;
  }

  &.flag-SHP {
    background-position: -66px -112px;
  }

  &.flag-SOS {
    background-position: -88px -112px;
  }

  &.flag-SRD {
    background-position: -110px -112px;
  }

  &.flag-SYP {
    background-position: -132px -112px;
  }

  &.flag-THB {
    background-position: -154px -112px;
  }

  &.flag-TTD {
    background-position: -176px -112px;
  }

  &.flag-TWD {
    background-position: -198px -112px;
  }

  &.flag-UAH {
    background-position: 0px -126px;
  }

  &.flag-USD {
    background-position: -22px -126px;
  }

  &.flag-UYU {
    background-position: -44px -126px;
  }

  &.flag-UZS {
    background-position: -66px -126px;
  }

  &.flag-VND {
    background-position: -88px -126px;
  }

  &.flag-YER {
    background-position: -110px -126px;
  }

  &.flag-ZAR {
    background-position: -132px -126px;
  }

  &.flag-MAD {
    background-position: -154px -126px;
  }
}
